# Godot 4+ specific ignores
.godot/

# Managed by git-multi (sub repo ssh://git@gitlab.elgatopanzon.io:2224/godot/addons/godotegp-framework/addon.git) (commit HEAD) 
/addons/godotegp-framework-csharp 
